*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

.w100{
	width: 100%;
}

.w50px{
	width: 600px;
}

.w390px{
	width: 395px;
}

div.center{
	margin:  0 auto;
	max-width:  1280px;
}

header{
	width: 100%;

	background-color:#231d97;
	padding: 30px;
}

header h1{
	color:  white;
}

footer{
	position: absolute;
	bottom:  0;
	width:  1280px;
	padding: 30px;
	background-color:#231d97;
}
section{
	padding: 30px;
}

p.adicionar_txt{
	display: inline-block;
	margin-bottom: 50px;
	font-size: 19px;
}

a.adicionar_btn{
	text-decoration: none;
	background-color: #24cd4e;
	padding: 5px;
	color: white;
	border-radius: 3px;
	margin-left: 10px;
}


table{
	width: 1280px;
}

tr{
	padding-bottom: 20px;
}

th{
	text-align: left;
	padding-bottom: 20px;
}

td{
	padding-bottom:  20px;
}

th,td{
	width: 10%;
}

.editar_btn{
	text-decoration: none;
	background-color: #f0a438;
	padding: 5px;
	color: white;
	border-radius: 3px;
	margin-left: 10px;
}

.deletar_btn{
	text-decoration: none;
	background-color: #eb1919;
	padding: 5px;
	color: white;
	border-radius: 3px;
	margin-left: 10px;

}

.titulo_txt{
	margin-bottom: 20px;
}

form.adicionar_form{
	text-align: center;
}

form.adicionar_form label{
	margin-bottom:  20px;
	display: block;
	text-align: left;
}

form.adicionar_form div{

	display: inline-block;
}

form.adicionar_form input,
form.adicionar_form select{
	
	margin-bottom: 30px;
	padding: 5px;
	display:  inline-block;
}

form.adicionar_form .enviar_adicionar{
	padding: 15px;
	width:  200px;
}

div.certo{
	display:  block;
}

.div_paginacao{
	width: 100%;
	height:  30px;
	
	display: inline-block;
}

a.paginacao{

	padding:  5px 5px;
	color: white;
	background-color:  #ccc;
	margin-left: 5px;
	text-align: center;
	text-decoration: none;
}